@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --light-bg-color: #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #0a021c;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-background-color: background-color 0.3s, color 0.3s;
  --trans-background: background-color 0.3s;
  --trans-color: color 0.3s;
}

html {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: var(--percent100);
  vertical-align: middle;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1, h2, h3, h4 {
  font-family: 'Poppins';
}

h1 {
  font-size: calc(1.3em + 1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}













.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.935em;
}

.column {
  margin-inline: -0.935em;
}

.column .row {
  padding: 0 0.935em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  margin: 0;
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-links a:hover {
  color: ;
}
